
body {
    padding: 0;
    margin: 0;
}

#controlpanel {
    width: 100%;
    height: 70px;
    position: relative;
    background-color: #555555;
    display: table;
    text-align: center;

}

#controlpanel * {
    display: table-cell;
    vertical-align: center;
}

#controlkeys li {
    display: inline-block;
    /*
    background: #666666
    */
}

.controlkey_button {
    width: 50px;
    height: 50px;
    /*
    background-color: #999999;
    */
    background-color: #999999;
    border-radius: 5px;
}

.prev_triangle {
    width: 0;
    height: 0;
    border-right: 10px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.prev_block {
    width: 5px;
    height: 10px;
    background: white;
    border: 0 none;
}

.play-pause_play div {
    border-left: 20px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.play-pause_pause div{
    height: 40px;
    width: 5px;
    background: transparent;
    border-left: 10px solid white;
    border-right: 10px solid white;
}

.next_triangle{
    width: 0;
    height: 0;
    border-left: 10px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.next_block {
    width: 5px;
    height: 10px;
    background: white;
    border: 0 none;
}

#volumecontrol {
    width: 200px;
    float: right;
    background-color: #666666;
}


#sidebar {
    position: relative;
    float: left;
    height: 600px;
    width: 250px;
    background: #4086AA;
}

#playlists:before{
    content: "Playlists:";
}




#musiccatalog {
    width: auto;
    height: auto;
    background: lightgrey;
}

.narf {
    width: 100%;
    height: 300px;
    background: red;
}

.scrollable {
    overflow: auto;
}



