
body {
    padding: 0;
    margin: 0;
}

#controlpanel {
    width: 100%;
    height: 70px;
    position: absolute;
    background-color: #666666;
    display: table;
    text-align: center;

}

#controlpanel * {
    display: table-cell;
    vertical-align: center;
}

#controlkeys li {
    display: inline-block;
}

.controlkey_button {
    width: 50px;
    height: 50px;
    /*border: 1px solid black;*/
    background-color: #999999;
    border-radius: 5px;
}











#volumecontrol {
    width: 200px;
    float: right;
    background-color: #666666;
}














